<% title 'Tasks Summary' -%>

<style type="text/css">
    .rightSpace {padding-right: 1.5em;}
    .wide { white-space: nowrap; }
    .number { text-align: right; }
</style>

<%= javascript_include_tag 'jquery.truncate.min' %>
<script type="text/javascript">
  $(function() {
    $('.truncate').truncate({
      width: 'auto',
      addtitle: true
    });
  });
</script>

<table>
  <tr>
    <th>Title</th>
    <th>Duration</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Tags</th>
    <th>Description</th>
    <th>&nbsp;</th>
    <td colspan='3'>
      <%= link_to 'New Task', new_task_path %>
    </td>
  </tr>
<% @tasks.each do |task| %>
  <tr class="vevent">
    <td class="rightSpace truncate summary" width="25%"><%= task.title %></td>
    <td class="rightSpace wide number duration">
      <span class="value-title" title="<%= microformats_duration task.duration %>"> </span>
      <%= human_duration task.duration %>
    </td>
    <td class="rightSpace number dtstart">
      <span class="value-title" title="<%= microformats_date_time task.start %>"> </span>
      <%= human_date_time task.start %>
    </td>
    <td class="rightSpace number dtend">
      <span class="value-title" title="<%= microformats_date_time task.stop %>"> </span>
      <%= human_date_time task.stop %>
    </td>
    <td class="rightSpace tags">
      <% task.tags.each do |tag| %>
        <%= link_to tag.name, tag, 'rel' => 'tag' %>
      <% end %>
    </td>
    <td class="rightSpace truncate description" width="15%"><%= task.description %></td>
    <td>
      <%= form_for task, :url => switch_to_task_path(task), :html => { :method => :post } do |f| %>
        <span class="actions">
          <%= f.submit 'Again', :title => 'Switch to this again' %>
        </span>
      <% end %>
    </td>
    <td><%= link_to 'Show', task, :class => 'url' %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
