<% title 'Tasks Summary' -%>

<style type="text/css">
    .rightSpace {padding-right: 1.5em;}  
</style>

<table>
  <tr>
    <th>Title</th>
    <th>Duration</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Tags</th>
    <th>Description</th>
    <th>&nbsp;</th>
    <td colspan='3'>
      <%= link_to 'New Task', new_task_path %>
    </td>
  </tr>
<% @tasks.each do |task| %>
  <tr class="vevent">
    <td class="rightSpace summary"><%= task.title %></td>
    <td class="rightSpace duration">
      <span class="value-title" title="<%= microformats_duration task.duration %>"> </span>
      <%= human_duration task.duration %>
    </td>
    <td class="rightSpace dtstart">
      <span class="value-title" title="<%= microformats_datetime task.start %>"> </span>
      <%= human_datetime task.start %>
    </td>
    <td class="rightSpace dtend">
      <span class="value-title" title="<%= microformats_datetime task.stop %>"> </span>
      <%= human_datetime task.stop %>
    </td>
    <td class="rightSpace tags">
      <% task.tags.each do |tag| %>
        <%= link_to tag.name, tag, 'rel' => 'tag' %>
      <% end %>
    </td>
    <td class="rightSpace description"><%= task.description %></td>
    <td>
      <%= form_for task, :url => switch_to_task_path(task), :html => { :method => :post } do |f| %>
        <div class="actions">
          <%= f.submit 'Again', :title => 'Switch to this again' %>
        </div>
      <% end %>
    </td>
    <td><%= link_to 'Show', task, :class => 'url' %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
