<% title 'Show task' -%>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Duration:</b>
  <%= @task.duration %>
</p>

<p>
  <b>Start:</b>
  <%= @task.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @task.stop %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
