<% title 'Show task' -%>

<p id="notice"><%= notice %></p>

<div class="vevent">
  <p>
    <b>Title:</b>
    <span class="summary">
      <%= @task.title %>
    </span>
  </p>

  <p>
    <b>Duration:</b>
    <span class="duration">
      <span class="value-title" title="<%= Duration.new(@task.stop - @task.start).iso8601 %>"> </span>
      <%= ChronicDuration.output @task.duration, :format => :short %><br>
    </span>
  </p>

  <p>
    <b>Start:</b>
    <span class="dtstart">
      <span class="value-title" title="<%= @task.start.iso8601 %>"> </span>
      <%= l(@task.start, :format => :nice) %>
    </span>
  </p>

  <p>
    <b>Stop:</b>
    <span class="dtend">
      <span class="value-title" title="<%= @task.stop.iso8601 %>"> </span>
      <%= l(@task.stop, :format => :nice) %>
    </span>
  </p>

  <p>
    <b>Description:</b>
    <span class="description">
      <%= @task.description %>
    </span>
  </p>

  <%= link_to 'Edit', edit_task_path(@task), :class => 'url' %> |
  <%= link_to 'Back', tasks_path %>
</div>
