<% title 'Show task' -%>

<p>
  <b>Title:</b>
  <%=h @task.title %>
</p>

<p>
  <b>Start:</b>
  <%=h @task.start %>
</p>

<p>
  <b>Stop:</b>
  <%=h @task.stop %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>