<h1>Tag</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Destroy', @tag, confirm: 'Are you sure?', method: :delete %> | 
<%= link_to 'Back', tags_path %>
